{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="hl-container">
    <div class="hl-block">
    <h1>Bienvenue</h1>
        <p>
            Découvrez notre univers de produits durables et éthiques pour une consommation responsable
            <br/> <br/>
            Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter
        </p>
    </div>
    <div class="hl-block">
        <img src="{{ asset('img/home/hero-landing.png') }}" alt="Image de Bienvenue">
    </div>
</div>
{% endblock %}
