body {
    background-color: #fffdf7;
    margin : 0px;
    font-family: 'Inter', sans-serif;
}
footer{
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}


/* custom CSS for success message return by the Controller */
.flash-success {
    width: auto;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
}

/* custom CSS for error message return by the Controller */
.flash-error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
    padding: 10px;
    margin-bottom: 10px;
}

a.button.error{
    background-color:  #a94442;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

div#main-container {
    display: flex;
    min-height: 100vh;
}

nav {
    padding:  31px 100px 31px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-logo img {
    height: 60%;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

 a:hover {
    color: #497555;
}

/* Login & register container*/
.login-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

/* Login & register image block */
.login-image {
    width: 50%;
}

.login-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* login & register block */
.form-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/* login & register form */
.form-block form {
    width: 50%;
    display: flex;
    flex-direction: column;

}

form input, form select, form textarea {

    display: block;
    width: 100%;
    padding: 12px 10px;
    font-size: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Assure que padding et bordures sont inclus dans la largeur */
}

form .cgu {
    display: flex;
}

form input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.cgu label{
    margin-top: 3px !important;
    margin-left: 3px;
}

.form-block label {
    margin-top: 10px;
    margin-bottom: 10px;
}


.form-block .btn {
    width: 100%;
    margin-top: 20px;
}

.form-block a {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: black;
}
.form-block a:hover {
    color: #497555;
}


button.btn {
    width: 100%;
    font-size: 20px;
    background-color: #565656;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/*footer block*/
.footer-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #FFFFFF;
}

.benchmark-img {
    padding: 10px 0 10px 0;
    width: 20%;
    height: auto;
}
